name: Check
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  ruff:
    name: Ruff
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: ./.github/actions/setup-cached-python

      - run: ruff check

      - run: ruff format --check

  nbconvert:
    name: NbConvert
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: ./.github/actions/setup-cached-python

      - name: Check notebooks are cleaned
        run: |
          jupyter nbconvert --clear-output --inplace 11_notebooks/*.ipynb
          git diff --quiet 11_notebooks/*.ipynb && git diff --cached --quiet 11_notebooks/*.ipynb || exit 1

  pytest:
    name: Pytest
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: ./.github/actions/setup-cached-python

      - name: Run
        run: pytest -v .
